@page "/"

<p>Hello, @CustomToUpper(UserName)</p>

<p>Let's add 2 + 2 = @(2 + 2)</p>

<button @onclick="@(() => Console.WriteLine("Button clicked."))">Click me</button>

@code{
    public string UserName { get; set; } = "Alex";

    private string CustomToUpper(string value) => value.ToUpper();
}